Repository NeoSmartpen/Windows-SDK2.0, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, csharp, chore, ui, resource, manifest, docs

build: add workflow for build
  .github/workflows/msbuild.yml
  .github/workflows/on-pull-request.yml
Labels: workflows

aaa
  .github/workflows/msbuild.yml
Labels: workflows

aaa
  .github/workflows/msbuild.yml
Labels: workflows

build: add workflow for build (#19)
  .github/workflows/msbuild.yml
  .github/workflows/on-pull-request.yml
Labels: workflows

docs: update README.md
  README.md
Labels: docs

docs: update README.md (#20)
  README.md
Labels: docs

build: update target .net framework 4 to 4.6.2
  Neosmartpen.Demo/App.config
  Neosmartpen.Demo/Neosmartpen.Demo.csproj
  Neosmartpen.Demo/Properties/Resources.Designer.cs
  Neosmartpen.Demo/Properties/Settings.Designer.cs
  Neosmartpen.Net.Protocol.v1/Neosmartpen.Net.Protocol.v1.csproj
  Neosmartpen.Net.Protocol.v2/Neosmartpen.Net.Protocol.v2.csproj
  Neosmartpen.Net.Usb.Demo/Neosmartpen.Net.Usb.Demo.csproj
  Neosmartpen.Net.Usb.Demo/Properties/Resources.Designer.cs
  Neosmartpen.Net.Usb.Demo/Properties/Settings.Designer.cs
  Neosmartpen.Net.Usb.Demo/app.config
  Neosmartpen.Net.Usb/Neosmartpen.Net.Usb.csproj
  Neosmartpen.Net/Neosmartpen.Net.csproj
  Neosmartpen.UnitTest/Neosmartpen.UnitTest.csproj
Labels: none

aaa
  README.md
Labels: docs

aaa
  Neosmartpen.Net.Protocol.v1/packages.config
  Neosmartpen.Net.Protocol.v2/packages.config
  Neosmartpen.Net/packages.config
  Neosmartpen.UnitTest/packages.config
Labels: none

build: fix msbuild action
  .github/workflows/msbuild.yml
Labels: workflows

aa
  .github/workflows/msbuild.yml
Labels: workflows

build: fix msbuild action (#22)
  .github/workflows/msbuild.yml
Labels: workflows

build: update target framework `.net-framework` 4 to 4.6.2 (#21)
  Neosmartpen.Demo/App.config
  Neosmartpen.Demo/Neosmartpen.Demo.csproj
  Neosmartpen.Demo/Properties/Resources.Designer.cs
  Neosmartpen.Demo/Properties/Settings.Designer.cs
  Neosmartpen.Net.Protocol.v1/Neosmartpen.Net.Protocol.v1.csproj
  Neosmartpen.Net.Protocol.v1/packages.config
  Neosmartpen.Net.Protocol.v2/Neosmartpen.Net.Protocol.v2.csproj
  Neosmartpen.Net.Protocol.v2/packages.config
  Neosmartpen.Net.Usb.Demo/Neosmartpen.Net.Usb.Demo.csproj
  Neosmartpen.Net.Usb.Demo/Properties/Resources.Designer.cs
  Neosmartpen.Net.Usb.Demo/Properties/Settings.Designer.cs
  Neosmartpen.Net.Usb.Demo/app.config
  Neosmartpen.Net.Usb/Neosmartpen.Net.Usb.csproj
  Neosmartpen.Net/Neosmartpen.Net.csproj
  Neosmartpen.Net/packages.config
  Neosmartpen.UnitTest/Neosmartpen.UnitTest.csproj
  Neosmartpen.UnitTest/packages.config
  README.md
Labels: docs

fix: unlink Neosmartpen.Net library
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/ByteConverter.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/ByteUtil.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/Time.cs
  Neosmartpen.Net.Usb/Neosmartpen.Net.Usb.csproj
Labels: none

fix: unlink Neosmartpen.Net dependency (#23)
  .gitignore
  Neosmartpen.Net.Protocol.v1/Neosmartpen.Net.Protocol.v1.csproj
  Neosmartpen.Net.Protocol.v1/packages.config
  Neosmartpen.Net.Protocol.v2/Neosmartpen.Net.Protocol.v2.csproj
  Neosmartpen.Net.Protocol.v2/packages.config
  Neosmartpen.Net.Usb.Demo/Neosmartpen.Net.Usb.Demo.csproj
  Neosmartpen.Net.Usb/Neosmarpen/Net/Chunk.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Dot.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Filter/FilterForPaper.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/OfflineDataStructure.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Protocol/v1/OfflineData.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Protocol/v1/OfflineDataParser.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Protocol/v1/OfflineDataSerializer.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Protocol/v1/OfflineWorker.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Stroke.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/ByteConverter.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/ByteUtil.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/PressureCalibration.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/PressureFilter.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/Renderer.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/Time.cs
  Neosmartpen.Net.Usb/Neosmartpen.Net.Usb.csproj
  Neosmartpen.Net/Neosmartpen.Net.csproj
  Neosmartpen.Net/packages.config
  Neosmartpen.UnitTest/Neosmartpen.UnitTest.csproj
  Neosmartpen.UnitTest/packages.config
Labels: chore

feat: integrate bluetooth low energy
  NeosmartpenSDK.sln
Labels: manifest

fix: unlink Neosmartpen.Net dependency (#23)
  .gitignore
  Neosmartpen.Net.Protocol.v1/Neosmartpen.Net.Protocol.v1.csproj
  Neosmartpen.Net.Protocol.v1/packages.config
  Neosmartpen.Net.Protocol.v2/Neosmartpen.Net.Protocol.v2.csproj
  Neosmartpen.Net.Protocol.v2/packages.config
  Neosmartpen.Net.Usb.Demo/Neosmartpen.Net.Usb.Demo.csproj
  Neosmartpen.Net.Usb/Neosmarpen/Net/Chunk.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Dot.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Filter/FilterForPaper.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/OfflineDataStructure.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Protocol/v1/OfflineData.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Protocol/v1/OfflineDataParser.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Protocol/v1/OfflineDataSerializer.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Protocol/v1/OfflineWorker.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Stroke.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/ByteConverter.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/ByteUtil.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/PressureCalibration.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/PressureFilter.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/Renderer.cs
  Neosmartpen.Net.Usb/Neosmarpen/Net/Support/Time.cs
  Neosmartpen.Net.Usb/Neosmartpen.Net.Usb.csproj
  Neosmartpen.Net/Neosmartpen.Net.csproj
  Neosmartpen.Net/packages.config
  Neosmartpen.UnitTest/Neosmartpen.UnitTest.csproj
  Neosmartpen.UnitTest/packages.config
Labels: chore

aaa
  NeosmartpenSDK.sln
Labels: manifest

aaa
  Neosmartpen.Demo/MainForm.Designer.cs
  Neosmartpen.Demo/MainForm.cs
  Neosmartpen.Demo/MainForm.resx
  Neosmartpen.Demo/Neosmartpen.Demo.csproj
  Neosmartpen.Demo/PasswordInputForm.Designer.cs
  Neosmartpen.Demo/PasswordInputForm.cs
  Neosmartpen.Demo/Renderer.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Bluetooth/Le/BluetoothLePenClient.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Version1/OfflineData.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Version1/OfflineDataParser.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Version1/OfflineWorker.cs
  NeosmartpenSDK.sln
Labels: manifest

fff
  Neosmartpen.Demo/MainForm.cs
  NeosmartpenSDK.sln
Labels: manifest

aaa
  Neosmartpen.Demo/MainForm.Designer.cs
  Neosmartpen.Demo/MainForm.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Version2/PenClientParserV2.cs
Labels: none

AAAA
  Neosmartpen.Demo/MainForm.Designer.cs
  Neosmartpen.Demo/MainForm.cs
  Neosmartpen.Demo/Neosmartpen.Net.Demo.csproj
  Neosmartpen.Demo/certificate.cer
  Neosmartpen.Demo/certificate.csr
  Neosmartpen.Net.Usb.Demo/UpdateForm.cs
  Neosmartpen.Net/Neosmartpen.Net.csproj
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Compressible.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/PenController.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Version2/PenClientParserV2.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Support/Compression.cs
  NeosmartpenSDK.sln
Labels: manifest

AAAA
  Neosmartpen.Net.Usb.Demo/UpdateForm.cs
Labels: none

AAAA
  Neosmartpen.Demo/MainForm.cs
  Neosmartpen.Demo/Neosmartpen.Net.Demo.csproj
Labels: none

ffff
  Neosmartpen.Demo/MainForm.cs
  Neosmartpen.Demo/Neosmartpen.Net.Demo.csproj
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Chunk.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/ChunkEx.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/PenController.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Version1/PenClientParserV1.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Version2/PenClientParserV2.cs
Labels: none

afaf
  Neosmartpen.Demo/MainForm.cs
Labels: none

sfsf
  Neosmartpen.Demo/MainForm.Designer.cs
  Neosmartpen.Demo/MainForm.cs
  Neosmartpen.Net/Neosmartpen.Net.csproj
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Bluetooth/BluetoothError.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Bluetooth/BluetoothPenClient.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Bluetooth/Le/BluetoothLePenClient.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Compressible.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/PenController.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Version2/PenClientParserV2.cs
Labels: none

dddd
  Neosmartpen.Demo/MainForm.cs
  Neosmartpen.Demo/Neosmartpen.Net.Demo.csproj
  Neosmartpen.Net/Neosmartpen.Net.csproj
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Bluetooth/BluetoothError.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Bluetooth/BluetoothPenClient.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Bluetooth/Le/BluetoothLePenClient.cs
Labels: none

afaf
  Neosmartpen.Demo/Neosmartpen.Net.Demo.csproj
  Neosmartpen.Net/Neosmartpen.Net.csproj
  README.md
Labels: docs

ffff
  README.md
Labels: docs

ffff
  README.md
Labels: docs

aaa
  README.md
Labels: docs

SFSF
  Neosmartpen.Net/Neosmartpen.Net.csproj
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Version1/OfflineData.cs
Labels: none

fff
  Neosmartpen.Net/Properties/AssemblyInfo.cs
Labels: none

aa
  Neosmartpen.UnitTest/BluetoothAdapterUnitTest.cs
  Neosmartpen.UnitTest/CallbacksImpl/PenCommV1CallbacksImpl.cs
  Neosmartpen.UnitTest/CallbacksImpl/PenCommV2CallbacksImpl.cs
  Neosmartpen.UnitTest/Neosmartpen.UnitTest.csproj
  Neosmartpen.UnitTest/Properties/AssemblyInfo.cs
  Neosmartpen.UnitTest/ProtocolVersion1UnitTest.cs
  Neosmartpen.UnitTest/ProtocolVersion2UnitTest.cs
Labels: none

aaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

aaaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

aaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

aaaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

aaaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

.github/labeler.yml:

workflows:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

csharp:
- changed-files:
  - any-glob-to-any-file:
    - "*.cs"

chore:
- changed-files:
  - any-glob-to-any-file:
    - .gitattributes
    - .gitignore
    - .gitconfig

ui:
- changed-files:
  - any-glob-to-any-file:
    - "*.xaml"

resource:
- changed-files:
  - any-glob-to-any-file:
    - "*.resx"

manifest:
- changed-files:
  - any-glob-to-any-file:
    - "*.sln"
    - "*.csproj"

docs:
- changed-files:
  - any-glob-to-any-file:
    - "*.md"
    - "*.html"
