Repository NeoSmartpen/Windows-SDK2.0, changes with the labels that .github/labeler.yml gives for each.
All labels: workflows, csharp, chore, ui, resource, manifest, docs

aaaa
  README.md
Labels: docs

aaaa
  Neosmartpen.Net/Neosmartpen.Net.csproj
Labels: none

AAA
  README.md
Labels: docs

aaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

aaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

aaaa
  Neosmartpen.Doc/docfx.json
Labels: none

aaaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

fffff
  .github/workflows/deploy-github-page.yml
Labels: workflows

aaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

aaaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

aaaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

aaaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

aaaaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

aaaaa
  .github/workflows/deploy-github-page.yml
Labels: workflows

fix: remove dot-net-zip dependency
  Neosmartpen.Net.Usb/Neosmarpen/Net/Protocol/v1/OfflineDataParser.cs
  Neosmartpen.Net.Usb/Neosmartpen.Net.Usb.csproj
Labels: none

aaa
  Neosmartpen.Net.Usb/Neosmarpen/Net/Protocol/v1/OfflineDataParser.cs
Labels: none

aaaa
  Neosmartpen.Net.Usb/Properties/AssemblyInfo.cs
Labels: none

fix: remove DotNetZip.Reduced dependency (#28)
  Neosmartpen.Net.Usb/Neosmarpen/Net/Protocol/v1/OfflineDataParser.cs
  Neosmartpen.Net.Usb/Neosmartpen.Net.Usb.csproj
  Neosmartpen.Net.Usb/Properties/AssemblyInfo.cs
Labels: none

feat: add json view in demo application
  Neosmartpen.Demo/MainForm.Designer.cs
  Neosmartpen.Demo/MainForm.cs
  Neosmartpen.Demo/MainForm.resx
  Neosmartpen.Demo/Models/Page.cs
  Neosmartpen.Demo/Neosmartpen.Net.Demo.csproj
  Neosmartpen.Net/Neosmartpen/Framework/Net/Data/Stroke.cs
Labels: none

feat: add json view in demo application (#32)
  .github/workflows/msbuild.yml
  Neosmartpen.Demo/MainForm.Designer.cs
  Neosmartpen.Demo/MainForm.cs
  Neosmartpen.Demo/MainForm.resx
  Neosmartpen.Demo/Models/Page.cs
  Neosmartpen.Demo/Neosmartpen.Net.Demo.csproj
  Neosmartpen.Net/Neosmartpen/Framework/Net/Data/Stroke.cs
Labels: workflows

aaaa
  .github/workflows/msbuild.yml
Labels: workflows

feat: add documentation for converting json
  Neosmartpen.Demo/Models/Page.cs
  README.md
Labels: docs

feat: add documentation for converting json (#33)
  Neosmartpen.Demo/Models/Page.cs
  Neosmartpen.Net/Properties/AssemblyInfo.cs
  README.md
Labels: docs

aaa
  Neosmartpen.Net/Properties/AssemblyInfo.cs
Labels: none

feat: add code to check bluetooth adapter
  Neosmartpen.Demo/MainForm.cs
  README.md
Labels: docs

feat: add code to check bluetooth adapter (#38)
  Neosmartpen.Demo/MainForm.cs
  README.md
Labels: docs

aaaa
  Neosmartpen.Demo/Neosmartpen.Net.Demo.csproj
  Neosmartpen.Demo/PenCommAgent.cs
  Neosmartpen.Demo/Properties/AssemblyInfo.cs
  Neosmartpen.Net.Usb.Demo/Neosmartpen.Net.Usb.Demo.csproj
  Neosmartpen.Net.Usb.Demo/Properties/AssemblyInfo.cs
  Neosmartpen.Net.Usb.Demo/UpdateForm.cs
  Neosmartpen.Net.Usb/Neosmartpen.Net.Usb.csproj
  Neosmartpen.Net.Usb/Properties/AssemblyInfo.cs
  Neosmartpen.Net/Neosmartpen.Net.csproj
  Neosmartpen.Net/Properties/AssemblyInfo.cs
Labels: none

aaaa
  README.md
Labels: docs

AAAAA
  .editorconfig
  .gitignore
  global.json
Labels: chore

aaaaa
  .github/workflows/msbuild.yml
Labels: workflows

aaaa
  Neosmartpen.Demo/Log.cs
  Neosmartpen.Demo/PenCommAgent.cs
Labels: none

aaaa
  Neosmartpen.Demo/Neosmartpen.Net.Demo.csproj
Labels: none

aaaa
  README.md
Labels: docs

aaaaa
  Neosmartpen.Net.Usb/Neosmartpen.Net.Usb.csproj
  Neosmartpen.Net/Neosmartpen.Net.csproj
Labels: none

migrate project from `.NET Framework 4.6.2` to `.NET 8.0` sdk-style format (#43)
  .editorconfig
  .github/workflows/msbuild.yml
  .gitignore
  Neosmartpen.Demo/App.config
  Neosmartpen.Demo/Log.cs
  Neosmartpen.Demo/Neosmartpen.Net.Demo.csproj
  Neosmartpen.Demo/PenCommAgent.cs
  Neosmartpen.Demo/Properties/AssemblyInfo.cs
  Neosmartpen.Net.Usb.Demo/Neosmartpen.Net.Usb.Demo.csproj
  Neosmartpen.Net.Usb.Demo/Properties/AssemblyInfo.cs
  Neosmartpen.Net.Usb.Demo/UpdateForm.cs
  Neosmartpen.Net.Usb/Neosmartpen.Net.Usb.csproj
  Neosmartpen.Net.Usb/Properties/AssemblyInfo.cs
  Neosmartpen.Net/Neosmartpen.Net.csproj
  Neosmartpen.Net/Properties/AssemblyInfo.cs
  README.md
  global.json
Labels: workflows, chore, docs

aaaa
  .gitignore
  Neosmartpen.Demo/App.config
  Neosmartpen.Net.Usb/Neosmartpen.Net.Usb.csproj
  global.json
Labels: chore

aaaa
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/PenController.cs
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Version2/PenClientParserV2.cs
Labels: none

aaaa
  .editorconfig
  Neosmartpen.Demo/MainForm.Designer.cs
  Neosmartpen.Demo/MainForm.cs
  Neosmartpen.Demo/MainForm.resx
Labels: none

aaaa
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/PenController.cs
Labels: none

aaaaa
  Neosmartpen.Net/Neosmartpen/Implementation/Net/Client/Version2/PenClientParserV2.cs
Labels: none

.github/labeler.yml:

workflows:
- changed-files:
  - any-glob-to-any-file:
    - .github/workflows/*

csharp:
- changed-files:
  - any-glob-to-any-file:
    - "*.cs"

chore:
- changed-files:
  - any-glob-to-any-file:
    - .gitattributes
    - .gitignore
    - .gitconfig

ui:
- changed-files:
  - any-glob-to-any-file:
    - "*.xaml"

resource:
- changed-files:
  - any-glob-to-any-file:
    - "*.resx"

manifest:
- changed-files:
  - any-glob-to-any-file:
    - "*.sln"
    - "*.csproj"

docs:
- changed-files:
  - any-glob-to-any-file:
    - "*.md"
    - "*.html"
